{% extends "base_template.html" %}

{% block menu_login %} active {% endblock %}

{% block content %}

    <div class="padding20 block-shadow" style="opacity: 1; -webkit-transform: scale(1); transform: scale(1); -webkit-transition: 0.5s; transition: 0.5s;">
        <h1 class="text-light">Login to service</h1>
        <hr class="thin">
        <br>

        <div class="grid">

            <form method="POST">
                {% csrf_token %}

                {% if error %}<h3 class="fg-red"><span class="mif-paw"></span> {{ error }}</h3>{% endif %}

                <div class="input-control text full-size {{invalid_login}}" data-role="input">
                    <label for="{{ login_form.username.id_for_label }}">Email or Username:</label>
                    {{ login_form.username }}
                    <button class="button helper-button clear" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                </div>
                <br>
                <br>
                <div class="input-control password full-size {{invalid_password}}" data-role="input">
                    <label for="{{ login_form.password.id_for_label }}">Password:</label>
                    {{ login_form.password }}
                    <button class="button helper-button reveal" tabindex="-1" type="button"><span class="mif-looks"></span></button>
                </div>
                <br>
                <br>
                <div class="input-control" data-role="input">
                    <label class="switch">
                        {{ login_form.remember }}
                        <span class="check"></span>
                    </label>
                </div>
                <br>
                <br>
                <div class="form-actions">
                    <button type="submit" class="button primary">Login</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}

<script>
    $(function(){
        var form = $(".login-form");

        form.css({
            opacity: 1,
            "-webkit-transform": "scale(1)",
            "transform": "scale(1)",
            "-webkit-transition": ".5s",
            "transition": ".5s"
        });
    });
</script>
{% endblock %}