{% extends "base_template.html" %}

{% block menu_tasks %} active {% endblock %}

{% block content %}

    <div class="content-block">
        <h1>Editing your task,</h1>
        <h3>bitch</h3>

        <!--<div data-role="preloader" data-type="ring"></div>-->
        <!--<div data-role="preloader" data-type="ring" data-style="dark"></div>-->


            <form method="POST" role="form" class="align-left">
                <div class="grid">

                    <!-- remove NOT -->
                    <div class="row">
                        <input class="button primary" type="submit" value="Save changes">
                    {% if not edit_task %}
                        <input class="button success" type="button" value="Set as completed" onclick="confirm('You sure?');">
                        <input class="button danger" type="button" value="Delete task" onclick="confirm('You sure?');">
                    {% endif %}
                    </div>


                    <div class="row">
                        <label for="task_name" class="text-bold">Task name</label>
                        <div class="input-control text full-size">
                            <input type="text" class="form-control" id="task_name" name="task_name" placeholder="Task name">
                        </div>
                    </div>

                    <div class="row cells2">
                        <div class="cell">
                            <label for="task_from" class="text-bold">From</label>
                            <div class="input-control text full-size">
                                <span class="mif-calendar prepend-icon"></span>
                                <input type="text" class="form-control" id="task_from" name="task_from" placeholder="Choose date">
                            </div>
                        </div>

                        <div class="cell">
                            <label for="task_to" class="text-bold">To</label>
                            <div class="input-control text full-size">
                                <span class="mif-calendar prepend-icon"></span>
                                <input type="text" class="form-control" id="task_to" name="task_to" placeholder="Choose date">
                            </div>
                        </div>
                    </div>


                    <h5 class="text-bold">Priority</h5>

                    <div class="row cells3 align-center">
                        <div class="cell">
                            <label class="input-control radio small-check">
                                <input name="priority" type="radio">
                                <span class="check"></span>
                                <span class="caption">No rush <span class="mif-magic-wand mif-2x"></span></span>
                            </label>
                        </div>
                        <div class="cell">
                            <label class="input-control radio small-check">
                                <input name="priority" type="radio">
                                <span class="check"></span>
                                <span class="caption">Normal <span class="mif-hour-glass mif-2x"></span></span>
                            </label>
                        </div>
                        <div class="cell">
                            <label class="input-control radio small-check">
                                <input name="priority" type="radio">
                                <span class="check"></span>
                                <span class="caption">Important <span class="mif-warning mif-2x"></span></span>
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <label for="task_description" class="text-bold">Description</label>
                        <div class="input-control textarea full-size">
                            <textarea id="task_description" name="task_description"></textarea>
                        </div>
                    </div>

                    <div class="row cells2">
                        <div class="cell">
                            <label for="repeat" class="text-bold">Repeat</label>
                            <div class="input-control select full-size">
                            <!--<div class="input-control select" data-role="select">-->
                                <select id="repeat" name="repeat">
                                    <option value="0">Do not repeat</option>
                                    <option value="1">Daily</option>
                                    <option value="2">Weekly</option>
                                    <option value="4">Monthly</option>
                                    <option value="8">Other (enter days count)</option>
                                </select>
                            </div>

                        </div>

                        <div class="cell">
                            <label for="repeat_days" class="text-bold">Repeat days</label>
                            <div class="input-control number full-size">
                                <input type="number" id="repeat_days" name="repeat_days" min="1" max="60" placeholder="1" disabled>
                            </div>
                        </div>
                    </div>

                    <!-- remove NOT -->
                    {% if edit_task %}
                    <div class="row">
                        <label for="file_upload" class="text-bold">File upload</label>
                        <div class="input-control file" data-role="input">
                            <input id="file_upload" type="file">
                            <button class="button"><span class="mif-folder"></span></button>
                        </div>
                    </div>
                    {% else %}
                        <h5 class="text-bold"><span class="mif-fire"></span>You will be able to upload files while editing task. Sorry, early site stage :(</h5>
                    {% endif %}

                    <div class="row">
                        <label class="input-control checkbox">
                            <input name=public" type="checkbox" checked>
                            <span class="check"></span>
                            <span class="caption">Public (should it be available to others by unique url?)</span>
                        </label>
                    </div>

                    <div class="row">
                        <div class="row">
                            <button class="button map-user-location" onclick="map.userLocation()" type="button"><span class="fg-blue mif-vpn-lock mif-2x"></span> Your location</button>
                            <button class="button map-user-location" onclick="map.userChooseLocation(1,2)" type="button"><span class="fg-blue mif-vpn-lock mif-2x"></span> Select task location</button>

                            Move pin on map

                        </div>
                        <div class="row cells2">
                            <div class="cell">
                                <label for="lat" class="text-bold">Latitude</label>
                                <div class="input-control text full-size">
                                    <input type="text" id="lat" name="lat" placeholder="00.000000">
                                </div>
                            </div>

                            <div class="cell">
                                <label for="lng" class="text-bold">Longitude</label>
                                <div class="input-control text full-size">
                                    <input type="text" id="lng" name="lng" placeholder="00.000000">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label for="place_desc" class="text-bold">Longitude</label>
                            <div class="input-control text full-size">
                                <input type="text" id="place_desc" name="place_desc" placeholder="Additional place description? Eg. Room 427, Stanley">
                            </div>
                        </div>

                        <div class="row">
                            <div id="map" class="fg-dark" style="height: 200px;"></div>
                        </div>
                    </div>

                    <!-- remove NOT -->
                    <div class="row">
                        <input class="button primary" type="submit" value="Save changes">
                    {% if not edit_task %}
                        <input class="button success" type="button" value="Set as completed" onclick="confirm('You sure?');">
                        <input class="button danger" type="button" value="Delete task" onclick="confirm('You sure?');">
                    {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script src="/static/js/tinymce/tinymce.min.js"></script>
    <script src="/static/js/jquery.datetimepicker.js"></script>

    <script src="/static/js/_map.js"></script>

    <script>

        $(document).ready(function(){

            // EDITORS ==============================

            tinymce.init({
                selector: "#task_description"
            });
            $('#task_from').datetimepicker({
                dayOfWeekStart : 1,
                lang:'en',
                disabledDates:['2015/01/08','2015/01/09','12015/01/10'],
                startDate:	'2015/01/05'
            });
            $('#task_to').datetimepicker({
                dayOfWeekStart : 1,
                lang:'en',
                disabledDates:['2015/01/08','2015/01/09','12015/01/10'],
                startDate:	'2015/01/05'
            });

            $('#repeat').change(function(){
                if($(this).val() == 8) {
                    $('#repeat_days').prop('disabled', false);
                } else {
                    $('#repeat_days').prop('disabled', true);
                }
            });

            // MAP =================================

            map.init();

        });
    </script>

{% endblock %}