{% extends "base_template.html" %}

{% block menu_tasks %} active {% endblock %}

{% block content %}

    <div class="content-block">

        <h2>Your tasks</h2>

        <div class="row">
                <table class="dataTable bg-white fg-dark table striped hovered align-left" data-role="datatable" data-searching="true">
                  <thead>
                    <tr>
                      <!--<th>Countdown</th>-->
                      <th>When</th>
                      <th>What</th>
                      <th>Files</th>
                      <th>Priority</th>
                      <th>Public</th>
                    </tr>
                  </thead>
                  <tbody>
                  {# <th scope="row">1</th>#}
                  {% for task in tasks %}
                    <tr>
                      <!--<td>-->
                          <!--<div data-days="2" data-role="countdown" class="countdown"></div>-->
                      <!--</td>-->
                      <td>{{ task.date_to|date:"Y-m-d h:m A" }}</td>
                      <td><a href="/tasks/{{task.task_id}}">{{ task.name }}</a></td>
                      <td>-</td>
                      <td>
                          {% if task.priority == 1 %}
                            <span class="fg-blue mif-hour-glass"></span></td>
                          {% elif task.priority == 2 %}
                            <span class="fg-blue mif-warning"></span>
                          {% else %}
                            <span class="fg-blue mif-magic-wand"></span>
                          {% endif %}

                      <td>
                          {% if task.public %}
                            <span class="fg-blue mif-checkmark"></span></td>
                          {% else %}
                            <span class="fg-blue mif-cross"></span></td>
                          {% endif %}
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
        </div>
    </div>

{% endblock %}