{% extends "base_template.html" %}

{% block menu_tasks %} active {% endblock %}

{% block content %}

    <div class="content-block">


        <h1>Your tasks on map</h1>
        <h3>(Only the ones with location set)</h3>
       <!--<div data-role="preloader" data-type="ring"></div>-->
        <!--<div data-role="preloader" data-type="ring" data-style="dark"></div>-->

        <div class="grid">
            <div class="row">
                <div class="row cells2 bg-white fg-dark padding10" style="max-height: 380px; overflow-y: scroll;">

                    <table class="table striped cell-hovered align-left" id="map-task-table">
                        <thead>
                        <tr>
                            <th>Due</th>
                            <th>Task</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for task in tasks %}
                        <tr>
                            <td data-taskid="{{task.id}}"><span class="tag info">{{ task.date_from|date:"Y-m-d" }}</span></td>
                            <td data-taskid="{{task.id}}">{{task.name}}</td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                </div>

                <div class="row padding10">
                    <span class="align-left">Map options</span>
                    <!--<button class="button" onclick="map.repopulate()"><span class="fg-blue mif-rocket mif-2x"></span> Repopulate</button>-->
                    <button class="button map-user-location" onclick="map.userLocation()"><span class="fg-blue mif-vpn-lock mif-2x"></span> Your location</button>
                    <button class="button" onclick="map.center()"><span class="fg-blue mif-earth mif-2x"></span> Wrap all</button>
                    <button class="button" onclick="map.repopulateUrgent()"><span class="fg-blue mif-alarm mif-2x"></span> Only urgent</button>
                    <button class="button" onclick="map.repopulatePriority()"><span class="fg-blue mif-layers mif-2x"></span> Color by priority</button>
                </div>

                <div id="map" class="fg-dark row" style="height: 300px;margin-top: 10px"></div>

            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}

<script src="/static/js/_map.js"></script>

<script>

    function showTask(task_id){
        console.log('pokazuje funkcje o id: ' + task_id.toString());
    }

    $(document).ready(function(){
        map.init();
        map.setData({{tasks_json|safe}}); // DUH, SO MUCH HAX to avoid ajax.
        map.repopulate();

        $('#map-task-table').find('td').click(function(){
            map.panToTask($(this).attr('data-taskid'));
        });

        if(! map.userCheckLocation()){
            $('button.map-user-location').prop('disabled', true);
        }

        var inter = window.setInterval(function(){
            if(! map.userCheckLocation()){
                $('button.map-user-location').prop('disabled', true);
            } else {
                $('button.map-user-location').prop("disabled", false);
            }
            window.clearInterval(inter);
        }, 1000);

    });


</script>

{% endblock %}