{% extends "base_template.html" %}

{% block menu_tasks %} active {% endblock %}

{% block content %}

    <div class="content-block">

        <h2>Your tasks on map</h2>

        <div class="grid">
            <div class="row">
                <div class="row cells2 bg-white fg-dark padding10" style="max-height: 380px; overflow-y: scroll;">

                    <table class="table striped cell-hovered align-left" id="map-task-table">
                        <thead>
                        <tr>
                            <th>Due</th>
                            <th>Task</th>
                            <th>Due</th>
                            <th>Task</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td data-taskid="1"><span class="tag info">2 days</span></td>
                            <td data-taskid="1">Lorem ipsum dolor sit amet</td>
                            <td data-taskid="2"><span class="tag info">2 days</span></td>
                            <td data-taskid="2">Lorem ipsum dolor sit amet</td>
                        </tr>
                        <tr>
                            <td data-taskid="3"><span class="tag info">2 days</span></td>
                            <td data-taskid="3">Lorem ipsum dolor sit amet</td>
                            <td data-taskid="4"><span class="tag info">2 days</span></td>
                            <td data-taskid="4">Lorem ipsum dolor sit amet</td>
                        </tr>
                        <tr>
                            <td data-taskid="6"><span class="tag info">2 days</span></td>
                            <td data-taskid="6">Lorem ipsum dolor sit amet</td>
                            <td data-taskid="2"><span class="tag info">2 days</span></td>
                            <td data-taskid="2">Lorem ipsum dolor sit amet</td>
                        </tr>
                        <tr>
                            <td data-taskid="5"><span class="tag info">2 days</span></td>
                            <td data-taskid="5">Lorem ipsum dolor sit amet</td>
                            <td data-taskid="4"><span class="tag info">2 days</span></td>
                            <td data-taskid="4">Lorem ipsum dolor sit amet</td>
                        </tr>
                        <tr>
                            <td data-taskid="3"><span class="tag info">2 days</span></td>
                            <td data-taskid="3">Lorem ipsum dolor sit amet</td>
                            <td data-taskid="5"><span class="tag info">2 days</span></td>
                            <td data-taskid="5">Lorem ipsum dolor sit amet</td>
                        </tr>
                        <tr>
                            <td data-taskid="5"><span class="tag info">2 days</span></td>
                            <td data-taskid="5">Lorem ipsum dolor sit amet</td>
                            <td data-taskid="1"><span class="tag info">2 days</span></td>
                            <td data-taskid="1">Lorem ipsum dolor sit amet</td>
                        </tr>
                        <tr>
                            <td data-taskid="2"><span class="tag info">2 days</span></td>
                            <td data-taskid="2">Lorem ipsum dolor sit amet</td>
                            <td data-taskid="4"><span class="tag info">2 days</span></td>
                            <td data-taskid="4">Lorem ipsum dolor sit amet</td>
                        </tr>
                        <tr>
                            <td data-taskid="3"><span class="tag info">2 days</span></td>
                            <td data-taskid="3">Lorem ipsum dolor sit amet</td>
                            <td data-taskid="5"><span class="tag info">2 days</span></td>
                            <td data-taskid="5">Lorem ipsum dolor sit amet</td>
                        </tr>
                        <tr>
                            <td data-taskid="2"><span class="tag info">2 days</span></td>
                            <td data-taskid="2">Lorem ipsum dolor sit amet</td>
                            <td data-taskid="3"><span class="tag info">2 days</span></td>
                            <td data-taskid="3">Lorem ipsum dolor sit amet</td>
                        </tr>
                        <tr>
                            <td data-taskid="1"><span class="tag info">2 days</span></td>
                            <td data-taskid="1">Lorem ipsum dolor sit amet</td>
                            <td data-taskid="2"><span class="tag info">2 days</span></td>
                            <td data-taskid="2">Lorem ipsum dolor sit amet</td>
                        </tr>


                        </tbody>
                    </table>

                </div>

                <div class="row padding10">
                    <span class="align-left">Map options</span>
                    <!--<button class="button" onclick="map.repopulate()"><span class="fg-blue mif-rocket mif-2x"></span> Repopulate</button>-->
                    <button class="button map-user-location" onclick="map.userLocation()"><span class="fg-blue mif-vpn-lock mif-2x"></span> Your location</button>
                    <button class="button" onclick="map.center()"><span class="fg-blue mif-earth mif-2x"></span> Wrap all</button>
                    <button class="button" onclick="map.repopulateUrgent()"><span class="fg-blue mif-alarm mif-2x"></span> Only urgent</button>
                    <button class="button" onclick="map.repopulatePriority()"><span class="fg-blue mif-layers mif-2x"></span> Color by priority</button>
                </div>

                <div id="map" class="fg-dark row" style="height: 300px;margin-top: 10px"></div>

            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}

<script src="/static/js/geoPosition.js"></script>
<script src="/static/js/_map.js"></script>

<script>

    function showTask(task_id){
        console.log('pokazuje funkcje o id: ' + task_id.toString());
    }

    $(document).ready(function(){
        map.init(true);
        map.repopulate();

        $('#map-task-table td').click(function(){
            map.panToTask($(this).attr('data-taskid'));
        });

        if(! map.userCheckLocation()){
            $('button.map-user-location').prop('disabled', true);
        }

        var inter = window.setInterval(function(){
            if(! map.userCheckLocation()){
                $('button.map-user-location').prop('disabled', true);
            } else {
                $('button.map-user-location').prop("disabled", false);
            }
            window.clearInterval(inter);
        }, 1000);

    });


</script>

{% endblock %}