{% extends "base_template.html" %}

{% block menu_tasks %} active {% endblock %}

{% block content %}

    <div class="content-block">
        <h1>Task view,</h1>
        <h3>{{task.name}}</h3>

            <div class="grid">

                <div class="row">
                    {% if is_author %}
                        <button class="button success" type="button" onclick="window.location='{% url 'tasks:tasks_edit' task_id=task.id%}'">Edit this task</button>
                        {% if task.public %} This task is PUBLIC <span class="mif-eye mif-2x"></span>{% endif %}
                    {% endif %}
                </div>


                <div class="row cells2">

                    <div class="cell">
                        {{ task.place_desc }}
                    </div>

                    <div class="cell">
                        <button class="button map-user-location" onclick="map.userLocation()" type="button"><span class="fg-blue mif-vpn-lock mif-2x"></span> Your location</button>
                        <button class="button map-user-location" onclick="map.singleTaskLocation()" type="button"><span class="fg-blue mif-vpn-lock mif-2x"></span> Task location</button><br/>
                        <div id="map" class="fg-dark" style="height: 220px;"></div>
                    </div>
                </div>

                <h5 class="align-left">
                    <b>From:</b> {{ task.date_from|date:'g:i, j b o (l)' }} <br/><b>To:</b> {{ task.date_to|date:'g:i, j b o (l)' }}
                    {% if task.repeat %} <span style="text-decoration: underline;">(Repeated)</span> {% endif %}
                </h5>
                <div class="row example fg-dark align-left">
                    {{ task.description|safe }}
                </div>

                <div class="row align-left">
                    <h5>Task files:</h5>
                    <ol class="numeric-list square-marker fg-white">
                        <li>abc.pdf (1024kb)</li>
                        <li>def.pdf (1024kb)</li>
                        <li>abc.pdf (1024kb)</li>
                        <li>abc.pdf (1024kb)</li>
                        <li>abc.pdf (1024kb)</li>
                        <li>abc.pdf (1024kb)</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script src="/static/js/_map.js"></script>

    <script>
        $(document).ready(function(){
            map.init();
            window.setTimeout(function(){
                map.addSingleTask( {{task.lat}} , {{task.lng}} );
            }, 2000);
        });
    </script>

{% endblock %}
