{% extends "base_template.html" %}

{% block menu_tasks %} active {% endblock %}

{% block content %}

    <div class="content-block">

        {% if username %}
        <h2>{{username}}'s tasks</h2>
        {% else %}
        <h1>Hello,</h1>
        <h3>time to work</h3>
        {% endif %}

        <div class="row">
                <table class="dataTable bg-white fg-dark table striped hovered align-left" data-role="datatable" data-searching="true" data-ordering="true" data-paging="false" data-info="false">
                  <thead>
                    <tr>
                      <th>From when</th>
                      <th>Until</th>
                      <th>What</th>
                      <th>Files</th>
                      <th>Priority</th>
                      <th>Public</th>
                    </tr>
                  </thead>
                  <tbody>
                  {# <th scope="row">1</th>#}
                  {% for task in tasks %}
                    <tr>
                      <td>{{ task.date_from|date:"Y-m-d" }}</td>
                      <td>{{ task.date_to|date:"Y-m-d h:m A" }}</td>
                      <td><a href="{% url 'tasks:task' task_id=task.id%}">{{task.name}}</a></td>
                      <td>-</td>
                      <td data-order="{{task.priority}}">
                          {% if task.priority == 1 %}
                            <span class="fg-blue mif-hour-glass"></span></td>
                          {% elif task.priority == 2 %}
                            <span class="fg-blue mif-warning"></span>
                          {% else %}
                            <span class="fg-blue mif-magic-wand"></span>
                          {% endif %}

                      <td data-order="{{task.public}}">
                          {% if task.public %}
                            <span class="fg-blue mif-checkmark"></span></td>
                          {% else %}
                            <span class="fg-blue mif-cross"></span></td>
                          {% endif %}
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
        </div>
    </div>

{% endblock %}