{% extends "base_template.html" %}

{% block menu_about %} active {% endblock %}

{% block content %}

<h1>Used techs</h1>

<ul class="simple-list large-bullet">
    <li>Python3/Django <a href="https://djangoproject.com/">https://djangoproject.com/</a></li>
    <li>CSS/MetroUI <a href="https://metroui.org.ua">https://metroui.org.ua</a></li>
    <li>JS/jQuery <a href="https://jquery.org">https://jquery.org</a></li>
    <li>JS/Leaflet <a href="http://leafletjs.com/">http://leafletjs.com/</a></li>
</ul>

{% endblock %}