<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="grzegorz-wojcicki@outlook.com <Grzegorz Wójcicki>">
    <link rel="icon" href="../../favicon.ico">

    <title>My Little Organiser</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/metro.min.css" rel="stylesheet">
    <link href="/static/css/metro-icons.min.css" rel="stylesheet">
    <link href="/static/css/domain.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/leaflet.css" />

    <link href="/static/css/jquery.datetimepicker.css" rel="stylesheet">

    <script src="/static/js/utils.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

<body>

    <header data-role="appbar" class="app-bar page-row">
    <!--<header data-role="appbar" class="app-bar fixed-top page-row">-->
        <div class="container">
            <a class="app-bar-element branding" href="/">
                <!--<img style="height: 28px;  margin-right: 10px;" src="/static/images/wn8.png"> My Organiser-->
                <span class="mif-bookmarks" style="color: orange; display: inline-block; margin-right: 10px;"></span>My Organiser
            </a>

            <ul class="app-bar-menu">
                <li data-flexorderorigin="0" data-flexorder="1">
                    <a class="{% block menu_about %}{% endblock %}" href="/about/">About</a>
                </li>

                <li data-flexorderorigin="1" data-flexorder="2">
                    <a class="{% block menu_support %}{% endblock %}" href="/about/support/">Support us!</a>
                </li>

                {% if user.is_authenticated %}
                    <li data-flexorderorigin="2" data-flexorder="3">
                        <a class="dropdown-toggle" href="#" class="{% block menu_tasks %}{% endblock %}">{{ user.username }}</a>
                        <ul data-no-close="true" data-role="dropdown" class="d-menu">
                          <li><a href="/tasks"><span class="chevron-thin-right"></span>Your tasks</a></li>
                          <li><a href="/tasks/map"><span class="chevron-thin-right"></span>Tasks on map</a></li>
                          <li><a href="/tasks/new">&raquo; New task</a></li>
                          <li class="divider"></li>
                          <li><a href="/users/settings/"><span class="mif-cog"></span>Settings</a></li>
                          <li class="divider"></li>
                          <li><a href="/users/logout/"><span class="mif-eject"></span>Log out</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li data-flexorderorigin="2" data-flexorder="3">
                        <a class="dropdown-toggle fg-white"><span class="mif-enter"></span> Log in</a>
                        <div class="app-bar-drop-container bg-white fg-dark place-right"
                                data-role="dropdown" data-no-close="true">
                            <div class="padding20">

                                <!-- FORM IS NOT DYNAMICALLY GENERATED BY DJANGO -->
                                <!--COME ON, NO NEED TO RENDER IT ON EACH PAGE-->
                                <form method="POST" action="/users/login/">
                                    {% csrf_token %}

                                    <h4 class="text-light">Login</h4>
                                    <div class="input-control text">
                                        <span class="mif-user prepend-icon"></span>
                                        <input id="id_username" maxlength="80" name="username" type="text">
                                    </div>
                                    <div class="input-control text">
                                        <span class="mif-lock prepend-icon"></span>
                                        <input id="id_password" maxlength="80" name="password" type="password">
                                    </div>
                                    <label class="input-control checkbox small-check">
                                        <input id="id_remember" name="remember" type="checkbox">
                                        <span class="check"></span>
                                        <span class="caption">Remember me</span>
                                    </label>
                                    <div class="form-actions">
                                        <button class="button">Login</button>
                                        <button class="button link">New?</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                {% endif %}
            </ul>

        </div>
    </header>

    <!-- Site content -->
    <div class="page-row page-row-expanded bg-lightBlue fg-white align-center">
    {% block content %}{% endblock %}
    </div>

    <!-- Site footer -->
    <footer class="bg-darkTeal fg-white page-row">
        <div class="container">

            <div class="grid align-center">
                <div class="row cells2">

                    <div class="cell">
                        <a href="#">Faq</a><br/>
                        <a href="#">Rules</a><br/>
                        <a href="#">some stuff</a><br/>
                    </div>

                    <div class="cell">
                        <a href="https://bitbucket.com/rikkt0r">More projects</a><br />
                        <a href="/about/techs">Technologies used</a><br />
                        <a href="#">Its open sauce &raquo; check it</a><br />
                    </div>
                </div>
            </div>

            <hr class="thin">

            <div class="align-center padding5 text-secondary">
                &copy; <b>My Little Organiser</b> by Grzegorz Wójcicki, 2015
            </div>
        </div>
    </footer>

    <script>
        // http://getbootstrap.com/getting-started/#support-ie10-width
        (function () {
          'use strict';
          if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement('style')
            msViewportStyle.appendChild(
              document.createTextNode(
                '@-ms-viewport{width:auto!important}'
              )
            )
            document.querySelector('head').appendChild(msViewportStyle)
          }
        })();

    </script>

    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script src="/static/js/metro.min.js"></script>
    <script src="/static/js/leaflet.js"></script>
    <script src="/static/js/jquery.dataTables.min.js"></script>

    {% block scripts %}{% endblock %}
  </body>
</html>
