{% extends "base_template.html" %}

{% block menu_home %} active {% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1>My little organiser,</h1>
        <p class="lead">plan it, do it, drink on it.</p>
    </div>

    <div class="row text-center">
        <div class="col-xs-10 col-sm-6 center-block">

            <h3 class="text-center text-uppercase">
                <span class="label label-primary">WTF anyway?</span>
            </h3>
            <ul style="list-style-type: none;">
                <li>No bullshit</li>
                <li>YOUR organiser. No social shit</li>
                <li>Map view !</li>
                <li>your unique link</li>
            </ul>
        </div>
    </div>

    <h3 class="text-center">How it works</h3>

    <div class="row">
        <div class="col-xs-8 col-sm-6 center-block">
            <iframe width="700" height="400" src="https://www.youtube.com/embed/xM5IDhkAuts" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

{% endblock %}